<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raqueta</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Raqueta</h1>
    <ul id="raqueta">
        <li>
            <strong>Marca:</strong> <%= raqueta.marca %> <br>
        </li>
        <li>
            <strong>Modelo:</strong> <%= raqueta.modelo %> <br>
        </li>
        <li>
            <strong>Precio:</strong> $<%= raqueta.precio %>
        </li>
            <a href="/raquetas">Volver</a>
    </ul>
</body>
</html>